.form_container
{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /* text-align: center; */
    padding: 20px;
    color: #0f572b;
    min-height: 65%;
}

.reg_tbl_container{
    padding: 10px;
    /* text-align: center; */
    /* width: 30%; */
    display: inline-block;
}

.login_card{
    padding: 10px 50px 30px 50px;
    margin: auto;
    /* text-align: center; */
    background-color: aliceblue;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.login_card input[type=text], input[type=password], input[type=date]{
    width: 100%;
}

.or_divider {
    display:flex;
    justify-content:center;
    align-items: center;
    color:grey;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .or_divider:after,
  .or_divider:before {
      content: "";
      display: block;
      background: grey;
      width: 30%;
      height:1px;
      margin: 0 10px;
  }
  
  /*google login button*/
  .g-sign-in-button {
      margin-bottom: 10px;
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      display: block;
      width: 240px;
      height: 50px;
      background-color: #4285f4;
      color: #fff;
      border-radius: 1px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
      box-sizing: border-box;
      transition: background-color .218s, border-color .218s, box-shadow .218s;
  }
  .g-sign-in-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
    box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
  }
  .g-sign-in-button:active {
    background-color: #3367D6;
    transition: background-color 0.2s;
  }
  .g-sign-in-button .content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
  }
  .g-sign-in-button img {
      width: 28px;
      height: 28px;
  }
  .g-sign-in-button .logo-wrapper {
     padding: 12px;
     background:#fff;
     width: 48px;
     height: 100%;
     border-radius: 1px; 
     display: inline-block;
  }
  .g-sign-in-button .text-container {
      font-family: Roboto,arial,sans-serif;
      font-weight: 500;
      letter-spacing: .21px;
      font-size: 16px;
      line-height: 48px;
      vertical-align: top;
      border: none;
      display: inline-block;
      text-align: center;
      width: 180px;
  }
  
  .g-sign-in-button, .content-wrapper, 
  .g-sign-in-button img, .logo-wrapper,
  .g-sign-in-button .text-container{
      box-sizing: border-box;
  }

  /* end of g button */

  /* custom radio buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    margin: 5px;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #00ad9e;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #00ad35;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* end of custom radio button */