<div class="container">
    <div class="form_container row">
        <div class="login_card">
          <div class="reg_tbl_container">
            <h3>Register</h3><br>
            <form [formGroup]="registerForm">
              <div class="form-group">
                  <label for="uname">Name:</label>
                  <input type="text" class="form-control" id="name" formControlName="name" #name>
                </div>
              <div class="form-group">
                <label for="email">Email address:</label>
                <input type="text" class="form-control" id="email" formControlName="email" #email>
              </div>
              <div class="form-group">
                <label for="reemail">Re-enter Email address:</label>
                <input type="text" class="form-control" id="reemail" formControlName="reemail" #reemail>
              </div>
              <div class="form-group">
                <label for="reemail">Ethereum Address</label>
                <input type="text" class="form-control" id="userId" formControlName="userId" #userId>
              </div>              
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" formControlName="pwd" #pwd>
              </div>
              <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" class="form-control" id="dob" formControlName="dob" #dob>
              </div>
              <input type="radio" name="gender" id="gen_female" value="female" formControlName="gender" #gender/>
                  <label for="gen_female">Female</label>
              
              <input type="radio" name="gender" id="gen_male" value="male" formControlName="gender" #gender/>
                  <label for="gen_male">Male</label>
              <br><br>
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </form>
            <!--<div class="or_divider"> OR </div>
              <a class="google-btn" href="/auth/google">
                  <div class='g-sign-in-button'>
                      <div class=content-wrapper>
                      <div class='logo-wrapper'>  
                          <img src='http://www.stickpng.com/assets/images/5847f9cbcef1014c0b5e48c8.png'>
                          </div>  
                          <span class='text-container'> 
                          <span>Sign in with Google</span>
                          </span>
                      </div>  
                  </div> 
              </a> -->
              <br>
              Already a member? <a [routerLink]="['/login']">Login here</a>
          </div>  
        </div>
      </div>
</div>