.proflCntnr{
    margin-top: 100px;
    width: 94vw;
    background: aliceblue;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 15px;
    /*padding-top: 65px;*/
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.jumbotron{
    padding: 50px;
    border-radius: 15px 15px 0px 0px;
    color: #fff;
    background-color: #45a1cc;
}

.jumbotron table{
    width: 60%;
    border-collapse: separate;
}


.jumbotron table tr td{
    padding: 15px 20px 15px 20px ;
}

.jumbotron table tr td


.streamCntnr{
    margin-top: 20px;
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
}

.strmItmCntnr{
    width: 27vw;
    margin: 2em 2vw 2em 2vw;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.strmItmCntnr:hover{
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.strmImgCntnr{
    width: 27vw;
    height: 275px;
    overflow: hidden; 
    border-bottom: #b9b5b5 1px solid;
}

.strmImg{
    height: 100%;
    width: 100%;
}

.strmTxtCntnr{
    height: 160px;
    width: 100%;
    margin: 1em 0 1em 0;
    padding: 0.5em 1em 0.5em 1em;
    overflow: hidden;
}