<div class="proflCntnr">
  <div class="jumbotron">
    <div class="page-header">
      <h1>{{profUsr.name}}</h1>
      <br>
      <table>
        <tr>
          <td>Email: </td><td>{{profUsr.email}}</td>   <td>User Address: </td><td>{{profUsr.userId}}</td>
        </tr>
        <tr>
          <td>Date of Birth: </td><td>{{profUsr.dob | date: 'MMM - dd - yyyy'}}</td>   <td>Gender: </td><td>{{profUsr.gender}}</td>
        </tr>
        <tr>
          <td colspan="4"><button id="openModalButton" data-toggle="modal" data-target="#myModal" class="btn btn-warning">Donate  <i class="fa fa-money" aria-hidden="true"></i></button></td>
        </tr>
      </table>
    </div>
  </div>

  <a *ngFor="let article of newsStream" [href]="article.link">
    <div class="strmItmCntnr">
      <div class="strmImgCntnr">
        <img [src]="article.img" class="strmImg">
      </div>
      <div class="strmTxtCntnr greyTxt">
        <h4>{{article.title}}</h4>
        <h6>Author: <a routerLink="/profile/{{article.authorId}}">{{article.author}}</a></h6>
        <p>	{{article.text}}
        </p>
      </div>
      
    </div>
  </a>
        
        
    
</div>

<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div class="modal" id="myModal" class="modal fade" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Donate</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        Enter the amount you wish to donate (in Ether):
        <input type="number" min="0.1" [(ngModel)]="donAmnt" name="donAmnt" id="donAmnt"><br><br>
        <!-- <div *ngIf="msgOn == 1" class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Message: </strong> Donation completed. Thank you! <span class="glyphicon glyphicon-heart"></span>
          </div>
  
          <div *ngIf="msgOn == 2" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Message: </strong> Something went wrong. Try again later.
          </div> -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="donate();">Donate</button>
      </div>

    </div>
  </div>
</div>
