.artCntnr{
    margin-top: 100px;
    margin-bottom: 30px;
}

.artCard{
    padding: 50px 50px 30px 50px;
    margin: auto;
    /* text-align: center; */
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.fdbckBox{
    position: fixed;
    top: 25vh;
    right: 8vw;
    /*background: #dee9f1;*/
    height: 230px;
    width: 120px;
}

.upBtn{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 100px 60px;
    border-color: transparent transparent #c5c5c5 transparent;
}

.upBtn:hover{
    border-color: transparent transparent #0d8c4e transparent;
}

.upNum{
    position: relative;
    top: 56px;
    left: -23px;
    height: 34px;
    width: 48px;
    text-align: center;
    /* background: bisque; */
    font-weight: bold;
}

.upBtn:hover .upNum{
    color: #fff;
}

.downBtn{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 60px 0 60px;
    border-color: #c5c5c5 transparent transparent transparent;
}

.downBtn:hover{
    border-color: #a31212 transparent transparent transparent;
}

.downNum{
    position: relative;
    top: -84px;
    left: -24px;
    height: 34px;
    width: 48px;
    text-align: center;
    /* background: bisque; */
    font-weight: bold;
}

.downBtn:hover .downNum{
    color: #fff;
}

.upvoted{
    border-color: transparent transparent #0d8c4e transparent;
    color: #fff;
}

.downvoted{
    border-color: #a31212 transparent transparent transparent;
    color: #fff;
}

.unfinishedUp{
    border-color: transparent transparent #c0cc19 transparent;
    color: #000;
}

.unfinishedDown{
    border-color: #c0cc19 transparent transparent transparent;
    color: #000;
}

.rankBox{
    height: 38px;
    width: 100%;
    background: #52b0cc;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.rankNum{
    color: #944343;
}