<div class="container artCntnr">
  <div class="artCard">
    <div class="artContent" [innerHtml]= "article | safe : 'html'">
      Here goes the article
    </div>
  </div>
</div>

<div class="fdbckBox">
  <a>
    <div class="fdbckBtn upBtn {{upVoted}}" (click)="upVote()">
      <div class="upNum">{{this.articleFromDB.upVotes}}</div>
    </div>
  </a>

  <br>

  <a>
    <div class="fdbckBtn downBtn {{downVoted}}" (click)="downVote()">
      <div class="downNum">{{this.articleFromDB.downVotes}}</div>
    </div>
  </a>

  <br>

  <div class="rankBox">
   Rank: <span class="rankNum">{{this.art._aRank}}</span> 
  </div>
</div>

<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div class="modal" id="myModal" class="modal fade" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">You are not logged in</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        You need to be logged in to vote on articles.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="redirectToLogin()">Login</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="redirectTORegister()">Register</button>
      </div>

    </div>
  </div>
</div>