<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="">Unmai Zeithi</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2 navSrchBox" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
    
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li *ngIf="this.authService.currentUserValue"><a routerLink="/newArticle"> + Submit article</a></li>
      <li *ngIf="!this.authService.currentUserValue"><a routerLink="/login">Login</a></li>
      <li *ngIf="!this.authService.currentUserValue"><a routerLink="/register">Join Us</a></li>
      <li *ngIf="this.authService.currentUserValue" (click)="logout()"><a>Log Out</a></li>
      <li (click)="Notifier()"><a><i class="fa fas fa-list-ul"></i></a></li>
    </ul>

    <div class="notifier" [style.right.px]="notifierPos">

        <div *ngFor="let n of globals.Notifies" class="ntfCntnr" [ngStyle]="{'border-left-color':getColor(n.statCode)}">
          <span class="ntfHdr">
            <strong>{{n.msg}}</strong>
          </span>
          <span class="ntfBdy">
            <details>
              <summary>{{n.status}}</summary>
              <ul *ngFor="let m of n.msgHist">
                <li class="ntfMHist"><span [ngClass]="{
                  'text-info':m.stat == 1,
                  'text-success':m.stat == 2,
                  'text-danger':m.stat == 3
                }" >{{m.oldm}}.</span>     {{m.t | date: 'medium'}}</li>
              </ul>   
              <a target="_blank" href="#"> {{n.txHash}} </a>           
            </details>
          </span>
          <span class="ntfTstmp">
            {{n.time | date:'medium'}}
          </span>
        </div>

    </div>
  
</nav>